@font-face {
 font-family: 'interR'  ; src: url("../fonts/Inter_18pt-Regular.ttf");
}
@font-face {
 font-family: 'interL'  ; src: url("../fonts/Inter_18pt-Light.ttf");
}
@font-face {
 font-family: 'interB'  ; src: url("../fonts/Inter_24pt-Bold.ttf");
}