* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

*::before, *::after {
    box-sizing: border-box;
}

:root {
    --spacing-10: 0.625rem; /* 10px */
    --spacing-12: 0.75rem; /* 12px */
    --spacing-14: 0.875rem; /* 14px */
    --spacing-16: 1rem; /* 16px */
    --spacing-18: 1.125rem; /* 18px */
    --spacing-20: 1.25rem; /* 20px */
}

html {
    font-size: 16px;
    font-weight: 400;
}

p, a, li {
    color: rgba(30, 56, 57, 1);
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: .4em;
}
html::-webkit-scrollbar,
html::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}
html::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}

body {
    background-color: rgba(244, 244, 246, 1);
}

ul,
ol {
    list-style: none;
}

img,
picture {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

svg {
    display: block;
}

aside,
nav,
footer,
header,
section,
article {
    display: block;
}

button,
a {
    cursor: pointer;
    color: inherit;
    font-family: inherit;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1440px) {
    html {
        font-size: 13px;
    }
    .container {
        max-width: 1200px;
    }
    p, a {
        font-size: 13px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 12px;
    }
    .container {
        max-width: 1000px;
    }
    p, a {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 11px;
    }
    .container {
        max-width: 800px;
    }
    p, a {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    html {
        font-size: 14px;
    }
    p, a {
        font-size: 14px;
    }
}

.header-content{
    margin-bottom: var(--spacing-20);
    background-color: #fff;
    border-bottom-right-radius: var(--spacing-20);
    border-bottom-left-radius: var(--spacing-20);
}
.header-content__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-14) 0;
    width: 100%;
}
.line{
    border-bottom: solid 1px #E0E0E0;
}

.header-content__icons {
    display: flex;
    gap: 10px;
}

.header-content__icons a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(244, 244, 246, 1);
    height: 2rem;
    width: 2rem;
}
.header-content__icons svg path {
    fill: black;
}
.header-content__items ul {
    list-style: none;
    display: flex;
    gap: 6px;
    padding: 0;
}
.header-content__items ul li {
    padding: 10px;
}
.header-content__items ul li a {
    text-decoration: none;
    color: #282727;
    display: block;
}
.header-content__logo p{
    font-size: 0.75rem;
    color: #ABA9A8;
    margin-left: 10px;
}
.header-content__last{
    padding: 15px 0;
}
.header-content__logo{
    display: flex;
    align-items: center;
}
.dropdown-sort svg,
.dropdown svg,
.dropdown-arrow {
    width: 8px;
    height: 8px;
}
.header-content__menu ul{
    display: flex;
}
.header-content__menu ul li:hover > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.header-content__menu ul li ul{
    position: absolute;
    left: 0;
    top: 30px;
    display: none;
    z-index: 1;
    padding: 16px 12px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.header-content__menu ul li ul li:hover{
    background-color: #F4F4F6;
}
.menu-Rankings{
    width: 40rem;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.header-content__menu ul li ul li{
    padding: 10px;
    float: left;
    border-radius: 10px;
}
.menu-ForContractors{
    width: 22rem;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.menu-ForContractors button{
    width: 100%;
    display: flex;
}
.menu-ForContractors button p{
    margin-right:  auto;
    margin-left: auto;
}
.menu-ForCustomers{
    width: 17.5rem;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.menu-ForPartners{
    width: 12.5rem;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.menu-OurEvaluationProcess{
    width: 16.5rem;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.header-content__menu ul li{
    list-style: none;
    position: relative;
    display: inline-block;
    padding: var(--spacing-10);
}

.header-content__menu ul li a{
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #282727;
}
.header-content_button .header-heart-icon {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: #B52E51;
    text-align: center;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    padding-left: var(--spacing-16);
    padding-right: var(--spacing-16);
    color: #fff !important;
    font-weight: 700;
    line-height: 20px;
    width: 100%;
}
.getListed-icon__wrapper {
    background: #fff;
    border-radius: 4px;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.btn-primary .getListed-icon__wrapper svg {
    width: 0.75rem;
    height: 0.75rem;
}
.header-content_button{
    gap: 1.5rem;
    display: flex;
    align-items: center;
}
.header-content_button .btn-primary {
    gap: 10px;
}
.header-content__last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-primary:hover{
    background-color: #AA2447;
}
.btn-primary p {
    color: #fff;
}
.main-content__frame{
    background-color: #1E3839;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: var(--spacing-20);

}
.Rectangle1{
    position: absolute;
    height: 913px;
    width: 188px;
    background-color: rgb(255 255 255 / 3%);
    transform: rotate(30deg);
    top: -170.67px;
    left: 340px;
    pointer-events: none;
}
.Rectangle2{
    position: absolute;
    height: 913px;
    width: 188px;
    background-color: rgb(255 255 255 / 7%);
    transform: rotate(30deg);
    top: -265px;
    left: 177px;
    pointer-events: none;
}
.Rectangles{
    position: relative;
    left: -340px;
    background-color: rgba(255, 255, 255, 50%);
}
.main-content__links{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: var(--spacing-20);
}
.main-content__links svg {
    width: 7px;
    height: 12px;
}
.link-home{
    text-decoration: none;
    color: #282727;
}
.link-listing{
    text-decoration: none;
    color: #ABA9A8  ;
}
.frame-updateDate{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 2rem;
}
.frame-updateDate svg {
    width: 14px;
    height: 14px;
}
.frame-updateDate p{
    color: #fff;
}
.frame-leftColumn{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.frame-leftColumn h1{
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
}
.frame-description p{
    color: #fff;
    margin-top: 10px;
    line-height: 18px;
}
.frame-showMore {
    margin-top: auto;
}
.frame-showMore a{
    text-decoration: none;
    border-bottom: 1.5px solid #A5AFB0;
    color: #fff;
}
.frame-rightColumn{
    margin-left: 4.5625rem;
}
.frame-columns{
    display: flex;
    align-items: center;
    padding: var(--spacing-20);
    padding-left: 2rem;
}
.main-content__filters{
    margin-top: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.text-field__icon_search::before {
    width: 2rem;
    background-image: url("../images/icons/lens.svg") ;
    background-repeat: no-repeat;
    background-position: center;
}
.text-field__icon {
    position: relative;
    width: 35%;
}
.text-field__icon::before {
    content: '';
    color: #bdbdbd;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0.625rem;
    z-index: 1;
}
.text-field__icon .text-field__input {
    padding-left: 3rem;
}
.main-content__search{
    padding: 6px;
    display: flex;
    width: 78%;
    border-radius: 8px;
    justify-content: space-between;
    background-color: #fff;
}
.text-field__input {
    display: block;
    position: relative;
    padding: 12px;
    font-size: 0.875rem;
    color: #212529;
    background-color: #F4F4F6;
    background-clip: padding-box;
    border: none;
    border-radius: 8px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search-filter{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.search-filter .dropdown-menu {
    white-space: nowrap;
}
.radio-button{
    accent-color: #B52E51;
}
.dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #F4F4F6;
}
.dropdown-toggle svg{
    margin-left: 8px;
}
.dropdown-toggle {
    color: #282727;
    list-style: none;
    display: flex;
    align-items: center;
    border: none;
    padding: var(--spacing-12) var(--spacing-16);
    height: 100%;
    cursor: pointer;
    border-radius: 8px;
    text-align: left;
    font-size: 0.875rem;
}
.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    position: absolute;
    background: #fff;
    padding: 16px 12px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-top: 15px;
}
.dropdown:hover {
    background-color: #E4E4E7;
}
.dropdown-menu label {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}
.dropdown-menu li:last-child {
    border-bottom: none;
}
.dropdown-menu li a {
    text-decoration: none;
    color: #333;
}
.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}
.main-content__sort{
    position: relative;
    background-color: #fff;
    width: 18%;
    padding: 6px;
    border-radius: 8px;
}
.main-content__sort .dropdown-menu{
    width: 100%;
    left: 0;
}
.dropdown-sort {
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #F4F4F6;
    cursor: pointer;
    height: 100%;
}
.dropdown-sort:hover {
    background-color: #E4E4E7;
}
.dropdown-toggle__sort{
    color: #282727;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: var(--spacing-12) var(--spacing-16);
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    height: 100%;
    font-size: 0.875rem;
}
.checkbox-button{
    accent-color: #B52E51;
    cursor: pointer;
}
.sortResult-item p{
    color: rgba(40, 39, 39, 1);
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 6px;
}
.sortResult-item svg{
    border-left: 1px solid #E0E0E0;
    width: 1.5rem;
    height: 1.5rem;
}
.main-content__sortResult{
    display: flex;
    margin-top: var(--spacing-16);
    gap: 12px;
    align-items: center;
}
.sortResult-item{
    display: flex;
    border-radius: 4px;
    align-items: center;
    background-color: #fff;
}
.sortResult-clear{
    color: #B52E51;
    text-decoration: none;
    border-bottom: 1.5px solid #E0E0E0;
}
.main-content__description{
    background-color: #fff;
    border-radius: 16px;
    margin-top: 1.5rem;
}
.main-content__description h2{
    color: rgba(30, 56, 57, 1);
    padding-top: var(--spacing-20);
    font-size: 2rem;
    line-height: 28px;
    padding-left: var(--spacing-20);
    font-weight: 600;
    margin-bottom: 12px;
}
.description-readMore{
    display: flex;
    padding-left: var(--spacing-20);
    align-items: center;
    gap: 8px;
    padding-bottom: var(--spacing-20);
}
.description-readMore p{
    color: #ABA9A8;
}
.description-readMore a{
    text-decoration: none;
    font-weight: 600;
    color: #282727;
    border-bottom: 1.5px solid #E0E0E0;
}

.card-item__img{
    position: relative;
    border-radius: 10px;
    grid-area: card-img;
}
.card-item__img .card-bg {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.card-item__img .card-bg img {
    height: 100%;
    width: 100%;
}
.card-bg__icons {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 12px;
    left: 12px;
}
/*.card-bg__icon svg {*/
/*    width: 16px;*/
/*    height: 15px;*/
/*}*/
.card-bg__icon {
    background: rgba(87, 87, 87, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}
.card-bg__icon span {
    color: #fff;
}
.main-content__cards{
    margin-bottom: 2rem;
}
.card-item__header {
    display: flex;
    gap: 12px;
    width: 100%;
    grid-area: card-header;
}
.card-items{
    padding: var(--spacing-16);
    display: grid;
    grid-template-columns: auto 46% 29%;
    gap: 12px;
    width: 100%;
    grid-template-areas:
        "card-img card-header card-feedback"
        "card-img card-report card-feedback"
        "card-img card-information card-buttons";
}
.main-content__card{
    background-color: #fff;
    border-radius: 16px;
    display: flex;
}
.gold-cup{
    background-color: #1E3839;
    display: flex;
    align-items: center;
    width: 3.875rem;
    height: 2.25rem;
    position: absolute;
    gap: 6px;
    border-radius: 6px;
    justify-content: center;
}
.gold-cup svg {
    width: 24px;
    height: 24px;
}
.gold-cup span {
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}
.name-logoTitle{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 0 6px 6px;
}
.description-name{
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.name-logo img{
    background-color: #F9F9F9;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}
.name-title h3{
    color: #1E3839;
    font-size: 1.25rem;
    line-height: 20px;
}
.name-title p{
    font-size: 0.75rem;
    line-height: 20px;
}
.score-cup{
    display: flex;
    align-items: center;
    gap: 5px;
}
.score-cup svg {
    width: 24px;
    height: 24px;
}
.score-cup p {
    font-size: 1rem;
    font-weight: 600;
}
.name-score{
    padding: var(--spacing-10) var(--spacing-10) var(--spacing-10) 0;
}
.description-like{
    display: flex;
    align-items: center;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: var(--spacing-14) var(--spacing-16);
}
.description-like svg{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.shopperReport-title__like{
    display: flex;
    align-items: center;
}
.shopperReport-title__like svg {
    height: 24px;
    width: 24px;
}
.shopperReport-title__like p{
    padding-right: 5px;
    font-weight: 600;
}
.shopperReport-title{
    display: flex;
    margin: 10px 10px 0 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
}
.card-item__report {
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    grid-area: card-report;
}
.shopperReport-title__name p{
    font-weight: 600;
}
.shopperReport-score__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}
.shopperReport-score__items p{
    margin: 3px 0;
}
.shoppertReport-score{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}
.shopperReport-score__value{
    display: flex;
    align-items: center;
}
.shopperReport-score__point meter{
    width: 16px;
    height: 11px;
}
.shopperReport-score__point{
    display: flex;
    gap: 2px;
    padding: 6px;
}
.shopperReport-score__name p {
    font-size: 0.75rem;
    color: #282727;
}
.shopperReport-score__value p {
    font-size: 0.75rem;
    color: #282727;
}
.shopperReport-score__nameItems{
    display: flex;
    flex-direction: column;
}
.shopperReport-score__valueItems{
    margin-left: 5px;
}
.shopperReport-score__descriptionItems{
    display: flex;
    flex-direction: column;
}
.shopperReport-score__description p{
    font-size: 0.75rem;
    color: #ABA9A8;
}
.card-item__information{
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 10px;
    grid-area: card-information;
}

.card-information__title p{
    font-weight: 500;
    margin-bottom: 4px;
}
.card-information__text p{
    color: #ABA9A8;
}
.card-information__text a{
    font-weight: 600;
    color: #282727;
}

.feedBack-Totalscore__value{
    display: flex;
    align-items: center;
    gap: 4px;
}
.feedBack-Totalscore__value svg {
    width: 24px;
    height: 24px;
}
.feedBack-Totalscore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--spacing-10);
    border-bottom: 1px solid #E0E0E0;
}
.card-item__feedBackAndButton{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.feedBack-Totalscore__title{
    font-weight: 600;
}
.Totalscore-value__title{
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
}
.Totalscore-value__reviews{
    text-align: right;
    color: #ABA9A8;
}
.card-item__feedBack{
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 10px;
    grid-area: card-feedback;
    height: fit-content;
}
.feedBack-listScore{
    gap: 6px;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-10) 0;
    border-bottom: 1px solid #E0E0E0;
}
.listScore-second__item{
    display: flex;
    margin-top: 4px;
    gap: 7px ;
    align-items: center;
}
.feedBack-listScore__title {
    color: rgba(61, 59, 57, 1);
}
.feedBack-listScore__right-title {
    color: rgba(40, 39, 39, 1);
}
.feedBack-listScore__right {
    display: flex;
    gap: 4px;
}
.feedBack-listScore__item{
    display: flex;
    justify-content: space-between;
}
.item-stars{
    display: flex;
    border-radius: 25px;
    border: 1px solid #E8B24E;
    padding: 0 2px;
}
.item-stars svg {
    width: 1rem;
    height: 1rem;
}
.personScore-title__wrapper{
    display: flex;
    align-items: center;
    gap: 6px;
}
.personScore-title__wrapper svg{
    width: 16px;
    height: 16px;
}
.feedBack-personScore__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E8B24E;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.feedBack-personScore{
    padding-top: var(--spacing-10);
}
.personScore-text{
    color: rgba(171, 169, 168, 1);
}
.personScore-title{
    font-weight: 500;
    color: rgba(30, 56, 57, 1);
}
.feedBack-personScore a{
    color: #282727;
    font-weight: 600;
}

.button-contacts button a {
    color: #fff;
    text-decoration: none;
}
.button-profile{
    width: 50%;
}
.btn-secondary {
    border: 1px solid #B52E51;
    font-weight: 700;
    border-radius: 8px;
    padding: var(--spacing-16) 0;
    background-color: transparent;
    width: 100%;
    line-height: 10px;
    height: 3rem;
    color: #B52E51;
}
.btn-secondary a {
    color: #B52E51;
    text-decoration: none;
}
.button-contacts{
    width: 50%;
}
.card-item__buttons{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: auto;
    grid-area: card-buttons;
}

.pagination {
    display: flex;
    gap: 6px;
    justify-content: center;
}
.pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
    font-size: 0.875rem;
}
.pagination-item:last-child,
.pagination-item:nth-child(2){
    background: rgba(181, 46, 81, 1);
    color: #fff;
}
.pagination svg {
    width: 7px;
    height: 11px;
}
.products {
    margin-top: 2rem;
    margin-bottom: 3.75rem;
}
.FAQ {
    display: flex;
    margin-bottom: 3.5rem;
    gap: 1.875rem;
}
.questions-wrapper, .comments-wrapper {
    background: #fff;
    border-radius: var(--spacing-20);
    padding: 2.5rem 2rem;
    width: 50%;
}
.comments-wrapper__title, .questions-wrapper__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 28px;
    color: rgba(30, 56, 57, 1);
    margin-bottom: 2rem;
}
.question-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.question-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(244, 244, 246, 1);
    border-radius: 8px;
    padding: 8px;
    gap: 1rem;
}
.question-item p {
    font-size: 1.25rem;
    padding-left: 8px;
}
.question-item__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(30, 56, 57, 1);
    cursor: pointer;
    border-radius: 6px;
}
.question-item__plus svg {
    width: 24px;
    height: 24px;
}
.comments-items {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.comments-item {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.comments-item__avatar {
    width: 40px;
    height: 40px;
}
.comments-item__avatar img {
    border-radius: 50%;
}
.comments-item__main {
    display: flex;
    flex-direction: column;
}
.comments-item__title {
    font-size: 1.25rem;
    color: rgba(40, 39, 39, 1);
    font-weight: 500;
}
.comments-item__rating {
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
    margin-top: 2px;
}
.comments-item__rating-stars {
    display: flex;
}
.comments-item__rating-stars svg {
    width: 20px;
    height: 20px;
}
.comments-item__rating-date {
    color: rgba(171, 169, 168, 1);
    font-size: 0.75rem;
}
.comments-item__text {
    color: rgba(40, 39, 39, 1);
    line-height: 18px;
    margin-bottom: 12px;
}
.comments-item__link {
    color: rgba(40, 39, 39, 1);
    cursor: pointer;
    text-decoration: underline;
    line-height: 18px;
    font-weight: 500;
}
.business {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.75rem;
    padding: 25px;
    background: rgba(30, 56, 57, 1);
    border-radius: var(--spacing-20);
}
.business-left {
    display: flex;
    gap: 24px;
}
.business-left img {
    border-radius: 12px;
}
.business-text__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 70%;
}
.business-title {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}
.business-text {
    color: rgba(171, 169, 168, 1);
    font-size: 1.25rem;
}
.btn-tertiary {
    height: 3rem;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    padding: var(--spacing-14) 3.125rem;
}
.btn-showMore__wrapper {
    margin-bottom: 20px;
}
.rating {
    padding: 2rem 1.75rem;
    background: #fff;
    margin-bottom: 3.75rem;
    border-radius: var(--spacing-20);
}
.rating-title {
    color: rgba(30, 56, 57, 1);
    font-size: 2rem;
    font-weight: 600;
}
.rating-grid {
    margin-top: var(--spacing-20);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: var(--spacing-16);
    column-gap: 1.875rem;
}
.rating-grid div {
    padding: 10px 8px;
    border-radius: 6px;
    font-size: 0.875rem;
    cursor: pointer;
}
.rating-grid div:hover {
    background: rgba(244, 244, 246, 1);
}
.footer-content {
    background: rgba(30, 56, 57, 1);
    padding-top: 3.75rem;
    border-top-right-radius: var(--spacing-20);
    border-top-left-radius: var(--spacing-20);
}
.footer-content__top {
    padding-bottom: 3.75rem;
    display: flex;
    justify-content: space-between;
}
.footer-content__top-grid {
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    grid-column-gap: 2.25rem;
    grid-row-gap: 2.25rem;
    grid-template-areas:
    "rankings contractors partners about"
    "rankings customers evaluation marketing";
}
.footer-content__top-text {
    margin-top: 16px;
    margin-bottom: 24px;
    color: rgba(165, 175, 176, 1);
}
.footer-content__top-social__links {
    display: flex;
    gap: 8px;
    margin-bottom: 3.5rem;
}
.footer-content__top-social__links a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    height: 2rem;
    width: 2rem;
}
.footer-content__top-social__links svg {
    fill: white;
}
.footer-first-block {
    width: 14rem;
}
.footer-rankings {
    padding: var(--spacing-16) var(--spacing-20);
    background: rgba(255, 255, 255, 0.03);
    grid-area: rankings;
    border-radius: 10px;
}
.footer-contractors {
    padding: var(--spacing-16) var(--spacing-20);
    background: rgba(255, 255, 255, 0.03);
    grid-area: contractors;
    border-radius: 10px;
}
.footer-partners {
    padding: var(--spacing-16) var(--spacing-20);
    background: rgba(255, 255, 255, 0.03);
    grid-area: partners;
    border-radius: 10px;
}
.footer-about {
    padding: var(--spacing-16) var(--spacing-20);
    background: rgba(255, 255, 255, 0.03);
    grid-area: about;
    border-radius: 10px;
}
.footer-customers {
    padding: var(--spacing-16) var(--spacing-20);
    background: rgba(255, 255, 255, 0.03);
    grid-area: customers;
    border-radius: 10px;
}
.footer-evaluation {
    padding: var(--spacing-16) var(--spacing-20);
    background: rgba(255, 255, 255, 0.03);
    grid-area: evaluation;
    border-radius: 10px;
}
.footer-marketing {
    padding: var(--spacing-16) var(--spacing-20);
    background: rgba(255, 255, 255, 0.03);
    grid-area: marketing;
    border-radius: 10px;
}
.footer-item__title-wrapper svg {
    display: none;
}
.footer-item__title {
    margin-bottom: var(--spacing-20);
    font-size: 1.25rem;
    color: rgba(165, 175, 176, 1);
}
.footer-item__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
}
.footer-item__list li {
    color: rgba(249, 249, 249, 1);
    font-size: 0.875rem;
}
.footer-line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-content__articles {
    padding-top: 2rem;
    padding-bottom: 2.875rem;
}
.footer-content__articles-title__wrapper svg {
    display: none;
}
.footer-content__articles-title {
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
}
.footer-content__articles-title-mobile {
    display: none;
}
.footer-content__articles-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 1rem;
    column-gap: 6.375rem;
    color: #fff;
    margin-bottom: 2rem;
}
.footer-content__articles-grid div {
    font-size: 0.875rem;
}
.footer-content__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    align-items: center;
}

.footer-content__bottom-copyright {
    display: flex;
    gap: 12px;
}
.footer-content__bottom-copyright p {
    display: flex;
    gap: 10px;
    color: rgba(165, 175, 176, 1);
}
.footer-content__bottom-links {
    display: none;
}
details > summary {
    list-style: none;
    appearance: none;
    cursor: default;
}

.no-toggle[open] summary {
    pointer-events: none;
}
.search-mobile__wrapper,
.filter-mobile__wrapper,
.sort-mobile__wrapper {
    display: none;
}
.main-content__description-mobile {
    display: none;
}
.card-bg__heart-icon {
    display: none;
}
@media (max-width: 1440px) {
    .footer-content__articles-grid {
        grid-template-columns: repeat(6, 1fr);
        row-gap: 1rem;
        column-gap: 6rem;
    }
}
@media (max-width: 1200px) {
    .frame-rightColumn picture {
        display: none;
    }
    .frame-leftColumn {
        width: 100%;
    }
    .main-content__frame {
        border-radius: 16px;
    }
    .main-content__frame::before {
        content: "";
        background-image: url("../images/main-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.3;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }
    .card-item__feedBackAndButton {
        width: 40%;
    }
    .card-item__img {
        height: fit-content;
    }
    .card-item__img .card-bg {
        height: auto;
    }
    .header-content__logo p {
        display: none;
    }
}
@media (max-width: 992px) {
    .footer-content__top-grid {
        grid-template-columns: repeat(3, 14rem);
        grid-template-areas:
            "rankings contractors partners"
            "rankings customers evaluation"
            "about marketing .";
    }
    .shoppertReport-score {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
    .shopperReport-score__items p {
        margin: 6px 0;
    }
    .shopperReport-score__valueItems {
        margin: 0;
    }
    .shopperReport-score__nameItems {
        flex: 0 0 33%;
    }
    .shopperReport-score__items {
        justify-content: flex-start;
    }
}
@media (max-width: 768px) {
    .header-content__menu {
        display: none;
    }
    .header-content__navbar {
        display: none;
    }
    .header-content .line {
        display: none;
    }
    .header-content_button .btn-primary {
        display: none;
    }
    .header-content__last {
        padding: 16px;
    }
    .header-content__logo {
        height: 33px;
    }
    .header-content__logo p {
        display: block;
    }
    .main-content__links {
        padding: 0 16px;
        margin-bottom: 10px;
    }
    .header-content {
        margin-bottom: 10px;
    }
    .frame-leftColumn h1{
        font-size: 32px;
    }
    .frame-updateDate {
        margin-bottom: 16px;
    }
    .frame-showMore {
        margin-top: 24px;
    }
    .search-filter {
        display: none;
    }
    .main-content__filters {
        justify-content: flex-start;
        padding: 0 16px;
        margin-top: 20px;
        gap: 8px;
    }
    .main-content__sort,
    .main-content__search {
        display: none;
    }
    .search-mobile__wrapper,
    .filter-mobile__wrapper,
    .sort-mobile__wrapper {
        display: block;
        padding: 6px;
        border-radius: 8px;
        background-color: #fff;
    }
    .filter-mobile__wrapper,
    .sort-mobile__wrapper {
        flex: 1;
    }
    .search-mobile,
    .filter-mobile,
    .sort-mobile {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: none;
        padding: 14px 28px;
        background-color: #F4F4F6;
        gap: 6px;
    }
    .search-mobile {
        padding: 14px;
    }
    .search-mobile__wrapper svg,
    .filter-mobile__wrapper svg,
    .sort-mobile__wrapper svg {
        width: 20px;
        height: 20px;
    }
    .frame-columns {
        padding: 20px 16px;
    }
    .main-content__sortResult {
        padding: 0 16px;
        flex-wrap: wrap;
    }
    .main-content__description {
        display: none;
    }
    .main-content__description-mobile {
        display: block;
        background-color: #fff;
        border-radius: 16px;
        margin-top: 20px;
        padding: 20px 15px;
    }
    .main-content__description-mobile h2 {
        color: rgba(30, 56, 57, 1);
        font-size: 16px;
    }
    .card-items {
        display: flex;
        flex-direction: column;
    }
    .gold-cup {
        width: 62px;
        height: 36px;
    }
    .card-bg__heart-icon {
        display: flex;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        align-items: center;
        padding: 6px;
        border-radius: 6px;
        cursor: pointer;
        top: 8px;
        right: 8px;
        color: #fff;
    }
    .card-item__description {
        width: 100%;
    }
    .description-like {
        display: none;
    }
    .name-title h3 {
        font-size: 18px;
        font-weight: 500;
    }
    .name-logo picture {
        height: 40px;
    }
    .name-logoTitle {
        padding: 8px;
    }
    .shopperReport-score__descriptionItems {
        flex-grow: 1;
    }
    .shopperReport-score__items {
        gap: 8px;
    }
    .card-item__img {
        order: 1;
    }
    .card-item__header {
        order: 2;
    }
    .card-item__report {
        order: 3;
    }
    .card-item__feedBack {
        order: 4;
    }
    .card-item__information {
        order: 5;
    }
    .card-item__buttons {
        order: 6;
    }
    .btn-showMore__wrapper {
        padding: 0 16px;
    }
    .shopperReport-score__items p {
        font-size: 14px;
        margin: 3px 0;
    }
    .products {
        margin-bottom: 40px;
    }
    .FAQ {
        flex-direction: column;
        gap: 40px;
    }
    .questions-wrapper, .comments-wrapper {
        width: 100%;
        padding: 24px 15px;
    }
    .questions-wrapper__title {
        font-size: 22px;
    }
    .question-item {
        gap: 16px;
    }
    .comments-wrapper__title {
        font-size: 22px;
    }
    .comments-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .comments-item__rating-stars svg {
        width: 15px;
        height: 15px;
    }
    .business {
        flex-direction: column;
        padding: 15px;
        margin-bottom: 40px;
    }
    .business-left {
        width: 100%;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 60px;
    }
    .business-left img {
        width: 100%;
    }
    .rating {
        margin-bottom: 40px;
    }
    .rating-title {
        font-size: 22px;
    }
    .rating-grid {
        display: none;
    }
    .rating-grid.open {
        display: flex;
        flex-direction: column;
    }
    .business-text__block {
        width: 100%;
    }
    .business-right {
        width: 100%;
    }
    .business-right button {
        width: 100%;
    }
    .business-text {
        font-size: 20px;
    }
    .footer-item__list {
        display: none;
        padding-top: 20px;
    }
    .footer-item__list li:not(:last-child) {
        padding-bottom: 20px;
    }
    .footer-content__top {
        flex-direction: column;
        gap: 32px;
        padding-bottom: 32px;
    }
    .footer-content__top-grid {
        display: flex;
        flex-direction: column;
    }
    .footer-content {
        padding: 32px 15px;
    }
    .footer-first-block {
        width: 100%;
    }
    .footer-content__top-social__links {
        display: none;
    }
    .footer-item__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-item__title-wrapper svg {
        display: block;
        width: 8px;
        height: 8px;
        color: #fff;
        transition: 0.3s;
    }
    .footer-content__articles-title__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-content__articles-title__wrapper svg {
        display: block;
        width: 8px;
        height: 8px;
        color: #fff;
        transition: 0.3s;
    }
    .footer-content__articles.active svg {
        transform: rotate(-180deg);
    }
    .footer-item.active .footer-item__title-wrapper svg {
        transform: rotate(-180deg);
    }
    .footer-item__title {
        margin-bottom: 0;
    }
    .footer-item {
        cursor: pointer;
        padding: 16px 20px;
    }
    .btn-primary, .btn-secondary, .btn-tertiary {
        height: 48px;
    }
    .footer-content__articles-grid {
        display: none;
        margin-bottom: 0;
        margin-top: 32px;
    }
    .footer-content__articles-grid div:not(:last-child) {
        padding-bottom: 20px;
    }
    .footer-content__articles {
        padding: 16px 20px;
        background: rgba(255, 255, 255, 0.03);
        border-radius: 10px;
        margin-top: 32px;
        margin-bottom: 32px;
        cursor: pointer;
    }
    .footer-content__articles-title {
        font-size: 20px;
        margin-bottom: 0;
        font-weight: 500;
    }
    .footer-content__articles-title-desktop {
        display: none;
    }
    .footer-content__articles-title-mobile {
        display: block;
    }
    .footer-content__articles .footer-line {
        display: none;
    }
    .footer-content__bottom {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0;
    }
    .footer-content__bottom-copyright {
        flex-direction: column;
        margin-bottom: 24px;
    }
    .footer-content__bottom-copyright p span {
        display: none;
    }
    .footer-content__bottom-links {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 24px;
    }
    .footer-content__bottom-links a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        height: 2rem;
        width: 2rem;
    }
    .footer-content__bottom-links svg {
        fill: #fff;
    }
}