* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: interR;
}

*::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-weight: 500;
}

body {
    background-color: rgba(244, 244, 246, 1);
}

button,
a {
    cursor: pointer;
    color: inherit;
    font-family: inherit;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1440px) {
    html {
        font-size: 13px;
    }
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 12px;
    }
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 11px;
    }
    .container {
        max-width: 800px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}

.header-content{
    margin-bottom: 20px;
}
.header-content__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    width: 100%;
}
header{
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.line{
    border-bottom: solid 1px #E0E0E0;
}
p {
    color: rgba(30, 56, 57, 1);
}

.header-content__icons {
    display: flex;
    gap: 10px;
}

.header-content__icons a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(244, 244, 246, 1);
    height: 32px;
    width: 32px;
}
.header-content__icons svg path {
    fill: black;
}
.header-content__items ul {
    list-style: none;
    display: flex;
    gap: 6px;
    padding: 0;
}
.header-content__items ul li {
    padding: 10px;
}
.header-content__items ul li a {
    text-decoration: none;
    color: #282727;
    font-weight: 400;
    display: block;
}
.header-content__logo p{
    font-size: 12px;
    color: #ABA9A8;
    margin-left: 10px;
    font-family: interL;
}
.header-content__last{
    padding: 15px 0;
}
.header-content__logo{
    display: flex;
    align-items: center;
}
.dropdown-sort svg,
.dropdown svg,
.dropdown-arrow {
    width: 8px;
    height: 8px;
}
.header-content__menu ul{
    display: flex;
}
.header-content__menu ul li:hover > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.header-content__menu ul li ul{
    position: absolute;
    left: 0;
    top: 30px;
    display: none;
    z-index: 1000;
    padding: 16px 12px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.header-content__menu ul li ul li:hover{
    background-color: #F4F4F6;
}
.menu-Rankings{
    width: 645px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.header-content__menu ul li ul li{
    padding: 10px;
    float: left;
    border-radius: 10px;
}
.menu-ForContractors{
    width: 362px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.menu-ForContractors button{
    width: 100%;
    display: flex;
}
.menu-ForContractors button p{
    margin-right:  auto;
    margin-left: auto;
}
.menu-ForCustomers{
    width: 278px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.menu-ForPartners{
    width: 203px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.menu-OurEvaluationProcess{
    width: 266px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.header-content__menu ul li{
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 10px;
}
.header-content__menu ul li a svg{
    margin-left: 6px;
}
.header-content__menu ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #282727;
}
.header-content_button .header-heart-icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.getListed {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #B52E51;
    text-align: center;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 6px;
    color: #fff !important;
    font-weight: 700;
    line-height: 20px;
}
.getListed-icon__wrapper {
    background: #fff;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.getListed .getListed-icon__wrapper svg {
    width: 12px;
    height: 12px;
}
.header-content_button{
    gap: 24px;
    display: flex;
    align-items: center;
}
.header-content_button .getListed {
    gap: 10px;
}
.header-content__last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.getListed:hover{
    background-color: #AA2447;
}
.getListed p {
    color: #fff;
}
.header-content_button button{
    background-color: #B52E51;
    text-align: center;
    display: flex;
    align-items: center;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 6px;
    color: #fff;
    font-weight: 700;
    height: 48px;
    line-height: 20px;
}
.main-content__frame{
    background-color: #1E3839;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius:20px ;

}
.Rectangle1{
    position: absolute;
    height: 913px;
    width: 188px;
    background-color: rgb(255 255 255 / 3%);
    transform: rotate(30deg);
    top: -170.67px;
    left: 340px;
    pointer-events: none;
}
.Rectangle2{
    position: absolute;
    height: 913px;
    width: 188px;
    background-color: rgb(255 255 255 / 7%);
    transform: rotate(30deg);
    top: -265px;
    left: 177px;
    pointer-events: none;
}
.Rectangles{
    position: relative;
    left: -340px;
    background-color: rgba(255, 255, 255, 50%);
}
.main-content__links{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 20px;
}
.main-content__links svg {
    width: 7px;
    height: 12px;
}
.link-home{
    text-decoration: none;
    color: #282727;
}
.link-listing{
    text-decoration: none;
    color: #ABA9A8  ;
}
.frame-updateDate{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 32px;
}
.frame-updateDate svg {
    width: 14px;
    height: 14px;
}
.frame-updateDate p{
    color: #fff;
}
.frame-leftColumn{
    width: 50%;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.frame-leftColumn h1{
    font-weight: 700;
    font-size: 40px;
    font-family: interB;
    color: #fff;
}
.frame-description p{
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
    line-height: 18px;
}
.frame-showMore {
    margin-top: auto;
}
.frame-showMore a{
    text-decoration: none;
    border-bottom: 1.5px solid #A5AFB0;
    color: #fff;
}
.frame-rightColumn{
    margin-left: 73px;
}
.frame-columns{
    display: flex;
    align-items: center;
    padding: 20px;
}
.main-content__searchAndSort{
    margin-top: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.text-field__icon_search::before {
    width: 2rem;
    background-image: url("../images/icons/lens.svg") ;
    background-repeat: no-repeat;
    background-position: center;
}
.text-field__icon {
    position: relative;
    width: 25%;
}
.text-field__icon::before {
    content: '';
    color: #bdbdbd;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0.625rem;
    z-index: 1;
}
.text-field__icon .text-field__input {
    padding-left: 3rem;
}
.main-content__search{
    padding: 6px;
    display: flex;
    width: 78%;
    border-radius: 8px;
    justify-content: space-between;
    background-color: #fff;
}
.text-field__input {
    display: block;
    position: relative;

    padding: 12px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #F4F4F6;
    background-clip: padding-box;
    border: none;
    border-radius: 8px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.text-field__input:focus{
    border: 1px solid #bdbdbd;
}
.search-filter{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.search-filter .dropdown-menu {
    white-space: nowrap;
}
.radio-button{
    accent-color: #B52E51;
}
.dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #F4F4F6;
}
.dropdown-toggle svg{
    margin-left: 8px;
}
.dropdown-toggle {
    color: #282727;
    list-style: none;
    display: flex;
    align-items: center;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 8px;
    text-align: left;
}
.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    position: absolute;
    background: #fff;
    padding: 16px 12px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-top: 15px;
}
.dropdown:hover {
    background-color: #E4E4E7;
}
.dropdown-menu label {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}
.dropdown-menu li:last-child {
    border-bottom: none;
}
.dropdown-menu li a {
    text-decoration: none;
    color: #333;
}
.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}
.main-content__sort{
    position: relative;
    background-color: #fff;
    width: 18%;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.main-content__sort .dropdown-menu{
    width: 100%;
    left: 0;
}
.dropdown-sort {
    width: 100%;
    border: none;
    border-radius: 8px;
    margin: 6px;
    background-color: #F4F4F6;
    cursor: pointer;
}
.dropdown-sort:hover {
    background-color: #E4E4E7;
}
.dropdown-toggle__sort{
    color: #282727;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 12px 16px;
    border-radius: 8px;
    text-align: left;
}
.checkbox-button{
    accent-color: #B52E51;
    cursor: pointer;
}
.sortResult-item p{
    color: rgba(40, 39, 39, 1);
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 6px;
}
.sortResult-item svg{
    border-left: 1px solid #E0E0E0;
    width: 24px;
    height: 24px;
}
.main-content__sortResult{
    display: flex;
    margin-top: 16px;
    gap: 11px;
    align-items: center;
}
.sortResult-item a{
    height: 24px;
}
.sortResult-item{
    display: flex;
    border-radius: 4px;
    align-items: center;
    background-color: #fff;
}
.sortResult-clear{
    color: #B52E51;
    text-decoration: none;
    border-bottom: 1.5px solid #E0E0E0;
}
.main-content__description{
    background-color: #fff;
    border-radius: 16px;
    margin-top: 24px;
}
.main-content__description h2{
    color: rgba(30, 56, 57, 1);
    padding-top: 20px;
    font-size: 28px;
    line-height: 28px;
    padding-left: 20px;
    font-weight: 600;
}
.description-readMore{
    display: flex;
    padding-left: 20px;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;
}
.description-readMore p{
    color: #ABA9A8;
}
.description-readMore a{
    text-decoration: none;
    font-weight: 600;
    color: #282727;
    border-bottom: 1.5px solid #E0E0E0;
}

.card-item__img{
    position: relative;
    border-radius: 10px;
    margin-right: 11px;
    height: fit-content;
}
.card-item__img .card-bg {
    position: relative;
}
.card-item__img .card-bg img {
    height: 100%;
}
.card-bg__icons {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 12px;
    left: 12px;
}
/*.card-bg__icon svg {*/
/*    width: 16px;*/
/*    height: 15px;*/
/*}*/
.card-bg__icon {
    background: rgba(87, 87, 87, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}
.card-bg__icon span {
    color: #fff;
}
.main-content__cards{
    margin-top: 32px;
    margin-bottom: 32px;
}
.description-nameLike {
    display: flex;
    gap: 12px;
    width: 100%;
    padding-bottom: 12px;
}
.card-items{
    padding: 16px;
    display: flex;
    width: 100%;
}
.main-content__card{
    background-color: #fff;
    border-radius: 16px;
    display: flex;
}
.card-item__description{
    width: 100%;
}
.gold-cup{
    background-color: #1E3839;
    display: flex;
    align-items: center;
    width: 62px;
    height: 36px;
    position: absolute;
    gap: 6px;
    border-radius: 6px;
    justify-content: center;
}
.gold-cup svg {
    width: 24px;
    height: 24px;
}
.gold-cup span {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.name-logoTitle{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 0 6px 6px;
}
.description-name{
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.name-logo img{
    background-color: #F9F9F9;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}
.name-title h3{
    color: #1E3839;
    font-size: 20px;
    line-height: 20px;
}
.name-title p{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.card-item__description{
    width: 46%;
}
.score-cup{
    display: flex;
    align-items: center;
    gap: 5px;
}
.score-cup svg {
    width: 24px;
    height: 24px;
}
.score-cup p {
    font-size: 16px;
    font-weight: 600;
}
.name-score{
    padding: 9px 10px 9px 0;
}
.description-like{
    display: flex;
    align-items: center;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 14px 15px;
}
.description-like svg{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.shopperReport-title__like{
    display: flex;
    align-items: center;
}
.shopperReport-title__like svg {
    height: 24px;
    width: 24px;
}
.shopperReport-title__like p{
    padding-right: 5px;
    font-weight: 600;
}
.shopperReport-title{
    display: flex;
    margin: 10px 10px 0 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
}
.description-shopperReport{
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}
.shopperReport-title__name p{
    font-weight: 600;
}
.shopperReport-score__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}
.shopperReport-score__items p{
    margin: 3px 0;
}
.shoppertReport-score{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
.shopperReport-score__value{
    display: flex;
    align-items: center;
}
.shopperReport-score__point meter{
    width: 16px;
    height: 11px;
}
.shopperReport-score__point{
    display: flex;
    gap: 2px;
    padding: 6px;
}
.shopperReport-score__name p {
    font-size: 12px;
    font-weight: 400;
    color: #282727;
}
.shopperReport-score__value p {
    font-size: 12px;
    color: #282727;
}
.shopperReport-score__nameItems{
    display: flex;
    flex-direction: column;
}
.shopperReport-score__valueItems{
    margin-left: 5px;
}
.shopperReport-score__descriptionItems{
    display: flex;
    flex-direction: column;
}
.shopperReport-score__description p{
    font-size: 12px;
    font-weight: 400;
    color: #ABA9A8;
}
.card-information{
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 10px;
    
    margin-top: 11px;
}

.card-information__title p{
    margin-bottom: 4px;
}
.card-information__text p{
    color: #ABA9A8;
}
.card-information__text a{
    font-weight: 600;
    color: #282727;
}

.feedBack-Totalscore__value{
    display: flex;
    align-items: center ;
    gap: 7px;
}
.feedBack-Totalscore__value svg {
    width: 24px;
    height: 24px;
}
.feedBack-Totalscore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
}
.card-item__feedBackAndButton{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.feedBack-Totalscore__title{
    font-weight: 600;
}
.Totalscore-value__title{
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}
.Totalscore-value__reviews{
    text-align: right;
    color: #ABA9A8;
}
.card-item__feedBack{
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 10px;
    margin-left: 12px;
}
.feedBack-listScore{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #E0E0E0;
    justify-content: space-between;
}
.listScore-second__item{
    display: flex;
    margin-top: 4px;
    gap: 7px ;
    align-items: center;
}
.feedBack-listScore__first p{
    color: rgba(61, 59, 57, 1);
}
.feedBack-listScore__first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feedBack-listScore__second{
    display: flex;
    flex-direction: column;
}
.item-stars{
    border-radius: 25px;
    border: 1px solid #E8B24E;
    padding: 0 2px;
}
.item-stars svg {
    width: 16px;
    height: 15px;
}
.personScore-title{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 4px;
}
.personScore-title svg{
    border: 1px solid #E8B24E;
    border-radius: 25px;
    vertical-align: middle;
    width: 16px;
    height: 15px;
}
.feedBack-personScore{
    padding-top: 10px;
}
.feedBack-personScore p{
    color: rgba(171, 169, 168, 1);
}
.feedBack-personScore a{
    color: #282727;
    font-weight: 600;
}
.button-contacts button{
    background-color: #B52E51;
    font-weight: 700;
    border-radius: 8px;
    padding: 15px 0;
    border: none;
    width: 100%;
    line-height: 10px;
    height: 48px;
}
.button-contacts button a {
    color: #fff;
    text-decoration: none;
}
.button-profile{
    width: 47%;
}
.button-profile button{
    border: 1px solid #B52E51;
    font-weight: 700;
    border-radius: 8px;
    padding: 15px 0;
    background-color: #fff;
    width: 100%;
    line-height: 10px;
    height: 48px;
}
.button-profile button a {
    color: #B52E51;
    text-decoration: none;
}
.button-contacts{
    width: 47%;
}
.card-item__buttons{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-left: 12px;
    margin-top: auto;
}

.btn-showMore {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(181, 46, 81, 1);
    color: rgba(181, 46, 81, 1);
    background: transparent;
    height: 48px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;
}
.pagination {
    display: flex;
    gap: 6px;
    justify-content: center;
}
.pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
}
.pagination-item:last-child,
.pagination-item:nth-child(2){
    background: rgba(181, 46, 81, 1);
    color: #fff;
}
.pagination svg {
    width: 7px;
    height: 11px;
}
.products {
    margin-bottom: 60px;
}
.FAQ {
    display: flex;
    margin-bottom: 56px;
    gap: 30px;
}
.questions-wrapper, .comments-wrapper {
    background: #fff;
    border-radius: 20px;
    padding: 40px 32px;
    width: 50%;
}
.comments-wrapper__title, .questions-wrapper__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: rgba(30, 56, 57, 1);
    margin-bottom: 32px;
}
.question-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.question-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(244, 244, 246, 1);
    border-radius: 8px;
    padding: 8px;
}
.question-item p {
    font-size: 20px;
    padding-left: 8px;
}
.question-item__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(30, 56, 57, 1);
    cursor: pointer;
    border-radius: 6px;
}
.question-item__plus svg {
    width: 24px;
    height: 24px;
}
.comments-items {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.comments-item {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.comments-item__avatar {
    width: 40px;
    height: 40px;
}
.comments-item__avatar img {
    border-radius: 50%;
}
.comments-item__main {
    display: flex;
    flex-direction: column;
}
.comments-item__title {
    font-size: 20px;
    color: rgba(40, 39, 39, 1);
}
.comments-item__rating {
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
    margin-top: 2px;
}
.comments-item__rating-stars svg {
    width: 20px;
    height: 20px;
}
.comments-item__rating-date {
    color: rgba(171, 169, 168, 1);
    font-size: 12px;
}
.comments-item__text {
    color: rgba(40, 39, 39, 1);
    line-height: 18px;
    margin-bottom: 12px;
}
.comments-item__link {
    color: rgba(40, 39, 39, 1);
    cursor: pointer;
    text-decoration: underline;
    line-height: 18px;
}
.business {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding: 25px;
    background: rgba(30, 56, 57, 1);
    border-radius: 20px;
}
.business-left {
    display: flex;
    gap: 24px;
}
.business-left img {
    border-radius: 12px;
}
.business-text__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 70%;
}
.business-title {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}
.business-text {
    color: rgba(171, 169, 168, 1);
    font-size: 20px;
}
.business-btn {
    height: 48px;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    padding: 14px 50px;
}
.rating {
    padding: 32px 28px;
    background: #fff;
    margin-bottom: 60px;
    border-radius: 20px;
}
.rating-title {
    color: rgba(30, 56, 57, 1);
    font-size: 28px;
    font-weight: 600;
}
.rating-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 16px;
    column-gap: 30px;
}
.rating-grid div {
    padding: 10px 8px;
    border-radius: 6px;
    cursor: pointer;
}
.rating-grid div:hover {
    background: rgba(244, 244, 246, 1);
}
.footer-content {
    background: rgba(30, 56, 57, 1);
    padding-top: 60px;
}
.footer-content__top {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.footer-content__top-grid {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    grid-template-areas:
    "rankings contractors partners about"
    "rankings customers evaluation marketing";
}
.footer-content__top-text {
    margin-top: 16px;
    margin-bottom: 24px;
    color: rgba(165, 175, 176, 1);
}
.footer-content__top-social__links {
    display: flex;
    gap: 8px;
    margin-bottom: 56px;
}
.footer-content__top-social__links a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    height: 32px;
    width: 32px;
}
.footer-content__top-social__links svg {
    fill: white;
}
.footer-first-block {
    width: 240px;
}
.footer-rankings {
    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.03);
    grid-area: rankings;
    border-radius: 10px;
}
.footer-contractors {
    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.03);
    grid-area: contractors;
    border-radius: 10px;
}
.footer-partners {
    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.03);
    grid-area: partners;
    border-radius: 10px;
}
.footer-about {
    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.03);
    grid-area: about;
    border-radius: 10px;
}
.footer-customers {
    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.03);
    grid-area: customers;
    border-radius: 10px;
}
.footer-evaluation {
    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.03);
    grid-area: evaluation;
    border-radius: 10px;
}
.footer-marketing {
    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.03);
    grid-area: marketing;
    border-radius: 10px;
}
.footer-item__title {
    margin-bottom: 20px;
    font-size: 20px;
    color: rgba(165, 175, 176, 1);
}
.footer-item__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-item__list li {
    color: rgba(249, 249, 249, 1);
}
.footer-line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-content__articles {
    padding-top: 32px;
    padding-bottom: 46px;
}
.footer-content__articles-title {
    margin-top: 0;
    margin-bottom: 32px;
    color: #fff;
}
.footer-content__articles-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 16px;
    column-gap: 102px;
    color: #fff;
    margin-bottom: 32px;
}
.footer-content__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    align-items: center;
}

.footer-content__bottom-copyright {
    display: flex;
    gap: 12px;
}
.footer-content__bottom-copyright p {
    display: flex;
    gap: 10px;
    color: rgba(165, 175, 176, 1);
}

details > summary {
    list-style: none;
    appearance: none;
    cursor: default;
}

.no-toggle[open] summary {
    pointer-events: none;
}